{{template "base" .}}

{{define "title"}}Profile{{end}}

{{define "body"}}
    <h2>Profile</h2>
    {{with .AuthenticatedUser}}
    <table>
        <tr>
            <td>Name</td>
            <td>{{.Name}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{.Email}}</td>
        </tr>
        <tr>
            <td>Created</td>
            <td>{{humanDate .Created}}</td>
        </tr>
        <tr>
            <td>Password</td>
            <td><a href="/user/change-password">Change password</a></td>
        </tr>
    </table>
    {{end}}
{{end}}
